on: 
  workflow_call:
    inputs:
      production:
        type: boolean
        default: false
      environment:
        type: string
        required: true
      artifact-name:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          path: dist
          name: ${{ inputs.artifact-name }}

      - name: Deploy Production
        if: ${{ inputs.production == true }}
        run: deno task deploy
        env:
          PROJECT_ID: ${{ vars.PROJECT_NAME }}
          DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}

      - name: Deploy Preview
        if: ${{ inputs.production == false }}
        run: deno run -A @deno/deployctl deploy -p=${{ vars.PROJECT_NAME }}
        env:
          PROJECT_ID: ${{ vars.PROJECT_NAME }}
          DENO_DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
