on: 
  pull_request:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Build
        run: deno task build

      - uses: actions/upload-artifact@v5
        with:
          path: dist
          if-no-files-found: error
        
      - name: Deploy
        run: deno run -A @deno/deployctl deploy -p=${{ vars.PROJECT_NAME }}
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
          