on: 
  pull_request:
    branches: 
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    uses: ./.github/workflows/deploy.yml
    needs: build
    with:
      environment: development
      artifact-name: ${{ needs.build.outputs.artifact-name }}
    secrets:
      DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}