on: 
  pull_request:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read

    steps:
      - uses: ./.github/workflows/build.yml

      - name: Deploy
        uses: ./.github/workflows/deploy.yml
        with:
          project_id: ${{ vars.PROJECT_NAME }}
