name: Pull Request

on: 
  push:
    branches: main
  pull_request:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Build
        run: deno task build
      
      - name: Deploy
        run: deno run -A @deno/deployctl deploy -p=${{ vars.PROJECT_NAME }}
        env:
          DENO_DEPLOY_TOKEN:  ${{ secrets.PROJECT_TOKEN }}
          