on:
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  build-storybook:
    uses: ./.github/workflows/build_storybook.yml

  deploy-storybook:
    runs-on: ubuntu-latest
    needs: [build-storybook]
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ needs.build-storybook.outputs.artifact-id }}
          path: storybook-static

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: storybook-static
