on: 
  push:
    branches: main
  pull_request:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Build
        run: deno task build
      
      - name: Deploy
        run: deno task deploy:preview
        env:
          PROJECT_ID: ${{ vars.PROJECT_NAME }}
          DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
          