on:
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    runs-on: ubuntu-latest
    environment: development
    needs: [build]
    permissions:
      contents: read

    steps:
      - uses: denoland/setup-deno@v2

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ needs.build.outputs.artifact-name }}

      - name: Deploy
        run: deno deploy --org=${{ vars.ORG }} --app=${{ vars.APP }} --token=${{ secrets.DEPLOY_TOKEN }}
