on:
  push:
    branches:
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - environment: staging
            prod: false
          - environment: production
            prod: true

    environment:
      name: ${{ matrix.environment }}

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2

      - name: Download artifact
        id: download-artifact
        uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ needs.build.outputs.artifact-id }}
          path: dist

      - name: Deploy
        run: |
          deno deploy \
            --org=${{ vars.ORG }} \
            --app=${{ vars.APP }} \
            --token=${{ secrets.DEPLOY_TOKEN }} \
            ${{ matrix.prod && '--prod' || '' }} \
            ${{ steps.download-artifact.outputs.download-path }}

  publish:
    needs: [build, deploy]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          artifact-ids: ${{ needs.build.outputs.artifact-id }}
          path: dist

      - name: Zip artifact
        run: zip -r dist.zip dist/*

      - uses: cycjimmy/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
