on: 
  push:
    branches: 
      - main

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy-staging:
    needs: build
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          path: dist
          name: ${{ needs.build.outputs.artifact-name }}

      - name: Deploy
        run: deno task deploy
        env:
          PROJECT_ID: ${{ vars.PROJECT_NAME }}
          DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}

  deploy-production:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          path: dist
          name: ${{ needs.build.outputs.artifact-name }}

      - name: Deploy
        run: deno task deploy
        env:
          PROJECT_ID: ${{ vars.PROJECT_NAME }}
          DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
