on: 
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://me-staging.deno.dev
    permissions:
      contents: read
      actions: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Get most recent successful run
        id: get-successful-run
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'development_release.yml',
              status: 'completed',
            });

            const successfulRun = data.workflow_runs.find(run => run.conclusion === 'success');

            if (!successfulRun) {
              return { runId: null, found: false };
            }

            return { runId: successfulRun.id, found: true };

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ steps.get-successful-run.outputs.runId }}
          path: dist
        if: steps.get-successful-run.outputs.found == 'true'
        continue-on-error: true
      
      - name: Deploy
        run: deno run -A @deno/deployctl deploy -p=${{ vars.PROJECT_NAME }} --prod
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
          