on: 
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://me-staging.deno.dev
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Build
        run: deno task build
        env:
          PUBLIC_SANITY_PROJECT_ID: ${{ vars.SANITY_PROJECT_ID }}
          PUBLIC_SANITY_DATASET: ${{ vars.SANITY_DATASET }}
      
      - name: Deploy
        run: deno run -A @deno/deployctl deploy -p=${{ vars.PROJECT_NAME }} --prod
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.PROJECT_TOKEN }}
          